.header {
    background: #222222;
    display: flex;
    justify-content: space-between;
    padding: 19px 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left-nav {
        & a {
        margin-right: 41px;
        text-decoration: none;
        }
    }
    &__right-nav {
        & img {
            &:not(:last-child) {
            margin-right: 33px;
            }
        }
    }
}

.header-content {
    background: #F1E4E6;
    height: 148px;

    &__promo-text {
        color: $maincolor;
    }
    &__wrap {
        height: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
}

.content-promo {
    background: #F1E4E6;
    height: 764px;

    &__wrap {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: url(images/men.png);
        background-repeat: no-repeat;
        background-position: -228px 0;
    }
}

.promo-text {
    max-width: 377px;
    border-left:12px solid $maincolor;
    padding-left: 20px;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: #222222;

    &__brand-name {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }
    &__red-style {
        color: $maincolor;
    }
 }

 ul.header-content__breadcrumb {
    padding: 10px 0 10px 16px;
    list-style: none;

    & li {
        display: inline;
        font-size: 14px;

        & a {
            color: #636363;
            text-decoration: none;
        }
    }
    & li+li:before {
        padding: 3px;
        color: #636363;
        content: "/\00a0";
    }
}
