@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.cards-catalog {
  display: flex;
  flex-wrap: wrap;
  margin-top: 65px;
  margin-bottom: 96px;
  justify-content: space-between;
}
.cards-catalog__item {
  width: 31.5%;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards-catalog__item:not(:last-child) {
  margin-bottom: 30px;
}
.cards-catalog__item:last-child {
  height: 160px;
  width: 100%;
}
.cards-catalog__item h1 {
  color: #F16D7F;
  font-weight: bold;
}
.cards-catalog__item h3 {
  color: white;
}
.cards-catalog__item a {
  text-decoration: none;
}
.cards-catalog__item a:hover {
  opacity: 0.7;
}
.cards-catalog__for-women {
  background-image: url(../images/cat-small.png), url(../images/for_women.png);
  background-repeat: repeat, no-repeat;
  background-size: auto;
}
.cards-catalog__for-men {
  background-image: url(../images/cat-small.png), url(../images/for_men.png);
  background-repeat: repeat, no-repeat;
  background-size: auto;
}
.cards-catalog__for-kids {
  background-image: url(../images/cat-small.png), url(../images/for_kids.png);
  background-repeat: repeat, no-repeat;
  background-size: auto;
}
.cards-catalog__accesories {
  background-image: url(../images/cat-big.png), url(../images/accesories.png);
  background-repeat: repeat, no-repeat;
  background-size: auto;
}

.fetured-items {
  width: auto;
}
.fetured-items h1 {
  text-align: center;
}
.fetured-items p {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.cards-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 48px 0 18px;
}
.cards-product a {
  text-decoration: none;
  color: #000000;
}
.cards-product a:hover {
  opacity: 0.7;
}
.cards-product_margin128 {
  margin: 128px 0px;
}
.cards-product__item {
  width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.cards-product__photo {
  width: 360px;
  height: 420px;
}
.cards-product__item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.cards-product__item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
.cards-product__item-text strong {
  color: #F16D7F;
  font-weight: bold;
}
.cards-product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.cards-product__overlay:hover {
  opacity: 1;
}
.cards-product__overlay-btn {
  font-size: 14px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.cards-product__overlay-btn:hover {
  cursor: pointer;
}
.cards-product__overlay-btn img {
  width: 26px;
  height: 24px;
  margin-right: 10px;
}

.link_allProducts {
  display: block;
  max-width: 212px;
  margin: 0 auto 96px;
  text-decoration: none;
  font-size: 16px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 15px 39px;
}
.link_allProducts:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.product-slider {
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-slider__button {
  height: 47px;
  width: 47px;
  background: #C4C4C4;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-slider__button:hover {
  background: #B1B1B1;
}
.product-slider__button:active {
  background: #6F6E6E;
}
.product-slider__button:hover > svg {
  fill: #F16D7F;
}
.product-slider img {
  max-width: 100%;
}

.product-about {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FFFFFF;
  margin-top: -65px;
  border: 1px solid #EAEAEA;
}
.product-about__info {
  text-align: center;
  padding: 64px 292px;
}
.product-about__info h4 {
  color: #F16D7F;
  font-size: 14px;
  margin-bottom: 12px;
}
.product-about__info svg {
  margin-bottom: 12px;
}
.product-about__info h2 {
  color: #4D4D4D;
  font-size: 18px;
  margin-bottom: 48px;
}
.product-about__info p {
  font-size: 14px;
  color: #5E5E5E;
  margin-bottom: 32px;
}
.product-about__info strong {
  font-size: 24px;
  color: #F16D7F;
}
.product-about__addition {
  padding: 0 250px;
}
.product-about__addition-wrap {
  display: flex;
  padding: 64px 0;
  flex-direction: column;
  border-top: 1px solid #eaeaea;
  align-items: center;
}
.product-about__filter {
  display: flex;
  justify-content: center;
}
.product-about__filter a {
  text-decoration: none;
  color: #6f6e6e;
}
.product-about__filter a:not(:last-child) {
  margin-right: 30px;
}
.product-about__addToCart {
  border: 1px solid #F16D7F;
  padding: 15px 24px;
  display: flex;
  align-items: center;
  margin-top: 48px;
  color: #F16D7F;
  background-color: #fff;
}
.product-about__addToCart svg {
  margin-right: 23px;
}
.product-about__addToCart:hover {
  cursor: pointer;
  background-color: #F16D7F;
  color: #fff;
}
.product-about__addToCart:hover > svg {
  fill: #fff;
}

.cartbox {
  margin-top: 96px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.cartbox__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  border: none;
}
.cartbox__btn button {
  height: 50px;
  width: 235px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  cursor: pointer;
}
.cartbox__btn button:hover {
  background: #F16D7F;
  color: #FFFFFF;
}
.cartbox__right-wrap {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

.cartbox-products {
  display: flex;
  flex-direction: column;
}
.cartbox-products__left-wrap {
  display: flex;
  flex-direction: column;
  max-width: 652px;
}
.cartbox-products__item {
  width: 650px;
  height: 306px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: row;
  position: relative;
}
.cartbox-products__item:not(:last-child) {
  margin-bottom: 40px;
}
.cartbox-products__item img {
  max-width: 100%;
  max-height: 100%;
}
.cartbox-products__item svg {
  position: absolute;
  right: 22px;
  top: 28px;
}
.cartbox-products__item svg:hover {
  fill: #F16D7F;
  cursor: pointer;
}
.cartbox-products__item-text {
  padding-left: 31px;
  padding-top: 22px;
  width: 200px;
}
.cartbox-products__item-text h3 {
  margin-bottom: 42px;
}
.cartbox-products__item-text p {
  font-size: 22px;
  color: #575757;
}
.cartbox-products__item-text strong {
  color: #F16D7F;
}
.cartbox-products__item-text span {
  color: #6F6E6E;
}
.cartbox-products__quantity {
  width: 44px;
  height: 25px;
  border: 1px solid #EAEAEA;
  text-align: center;
}

.cartbox-adress {
  margin-bottom: 40px;
  padding: 17px 0;
  display: flex;
  flex-direction: column;
}
.cartbox-adress p {
  margin-bottom: 20px;
}
.cartbox-adress input:not(:last-child) {
  height: 45px;
  margin-bottom: 20px;
  font-size: 13px;
  border: 1px solid #A4A4A4;
  padding: 13px;
}
.cartbox-adress input:not(:last-child)::placeholder {
  opacity: 0.5;
}
.cartbox-adress input:last-child {
  height: 35px;
  width: 101.4px;
  font-size: 11px;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  color: #4A4A4A;
}
.cartbox-adress input:last-child:hover {
  cursor: pointer;
  background: #F16D7F;
  color: #FFFFFF;
}

.cartbox-total {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cartbox-total__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cartbox-total__text-subtotal {
  font-size: 13px;
  margin-right: 34px;
  margin-bottom: 12px;
}
.cartbox-total__text-grandtotal {
  font-size: 16px;
  margin-right: 37px;
}
.cartbox-total__text-redstyle {
  color: #F16D7F;
}
.cartbox-total__btn hr {
  margin: 21px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid #E2E2E2;
}
.cartbox-total__btn button {
  color: #FFFFFF;
  background-color: #F16D7F;
  padding: 15px 40px;
  border: none;
  transition: 0.3s;
}
.cartbox-total__btn button:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.regform {
  display: flex;
  padding: 64px 2px 0;
}
.regform__leftwrap {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.regform__leftwrap h3 {
  font-weight: normal;
}
.regform__leftwrap p {
  font-size: 13px;
  color: #B1B1B1;
  margin-top: 15px;
}
.regform__user-data {
  width: 100%;
}
.regform__user-data span {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.regform__user-email {
  width: 100%;
}
.regform__text {
  margin-left: 128px;
}
.regform__text h2 {
  font-weight: normal;
}
.regform__text p {
  font-size: 24px;
  font-weight: normal;
}
.regform__text ul {
  font-size: 24px;
  line-height: 45px;
  font-weight: normal;
  list-style-type: none;
}
.regform__text ul li:before {
  content: "✔ ";
}
.regform__radio {
  display: flex;
}

.reginput__first-name, .reginput__last-name, .reginput__email, .reginput__passwd {
  width: 360px;
  height: 45px;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  padding: 13px;
  transition: 0.3s;
}
.reginput__first-name:hover, .reginput__last-name:hover, .reginput__email:hover, .reginput__passwd:hover {
  border-radius: 10px;
  margin-left: 10px;
}
.reginput__first-name::placeholder, .reginput__last-name::placeholder, .reginput__email::placeholder, .reginput__passwd::placeholder {
  opacity: 0.5;
}
.reginput__male, .reginput__female {
  margin: 30px 10px 30px 0;
  width: 17px;
  height: 17px;
}
.reginput__submit {
  margin: 39px 0 96px;
  color: #F7F7F7;
  background-color: #F16D7F;
  padding: 16px 29px;
  font-size: 14px;
  border: none;
  transition: 0.3s;
}
.reginput__submit:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-between;
  border: 1px solid #EBEBEB;
  width: 244px;
  height: 44px;
  padding: 12px 16px;
  margin: 0 auto 96px;
}
.pagination a {
  color: #EBEBEB;
  text-decoration: none;
}
.pagination a:hover {
  color: #F16D7F;
}
.pagination a:first-child {
  color: #000000;
}
.pagination a:first-child:hover {
  color: #F16D7F;
}
.pagination a:last-child {
  color: #000000;
}
.pagination a:last-child:hover {
  color: #F16D7F;
}

.filter-wrap {
  width: 100%;
  margin: 51px 0 64px;
  display: flex;
  position: relative;
}

.filter {
  width: 360px;
  background-color: #FFFFFF;
  position: absolute;
  top: -16px;
  z-index: 2;
  padding: 16px 0 0 16px;
}
.filter-content :first-child {
  margin-top: 18px;
}
.filter:hover {
  cursor: default;
}
.filter ::-webkit-details-marker {
  display: none;
}
.filter[open] {
  padding-left: 16px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] > summary {
  color: #F16D7F;
  outline: none;
  border: none;
}
.filter summary {
  list-style: none;
  font-weight: bold;
  color: #6F6E6E;
}
.filter summary:hover {
  color: #F16D7F;
  cursor: pointer;
}
.filter-title > summary {
  list-style: none;
  padding: 11px;
  margin-bottom: 18px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  color: #6F6E6E;
}
.filter-title > summary:hover {
  color: #F16D7F;
  cursor: pointer;
}
.filter-title[open] > summary {
  color: #F16D7F;
}
.filter-item {
  list-style-type: none;
}
.filter-link {
  text-decoration: none;
  font-size: 14px;
  color: #6F6E6E;
}
.filter-link:hover {
  opacity: 0.7;
}
.filter-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 18px 16px;
}

.filtercheck-wrap {
  width: 700px;
  justify-content: flex-end;
  display: flex;
}

.filtercheck {
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  z-index: 2;
  padding: 0 10px;
}
.filtercheck:hover .filtercheck-content {
  display: flex;
}
.filtercheck:first-child {
  margin-left: 375px;
}
.filtercheck-content {
  position: absolute;
  padding: 7px 11px 11px 0;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: none;
  color: #6F6E6E;
  white-space: nowrap;
}
.filtercheck-title {
  color: #6F6E6E;
  white-space: nowrap;
}
.filtercheck-title:hover {
  cursor: pointer;
}
.filtercheck-item {
  list-style-type: none;
}
.filtercheck-checkbox {
  opacity: 0.8;
  margin: 0 9px 0 9px;
}
.filtercheck i {
  margin-left: 10px;
}

.error-msg {
  padding: 30px 20px;
  background-color: red;
  color: white;
  position: relative;
}

.error-block {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

.close-btn {
  font-size: 1.5em;
  top: -40px;
  position: absolute;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
}

.footer-info {
  background: #000;
  padding: 104px 0;
}
.footer-info__wrap {
  display: flex;
  justify-content: space-between;
}
.footer-info h3 {
  color: #FBFBFB;
}
.footer-info p {
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
}
.footer-info__delivery, .footer-info__discount, .footer-info__quality {
  text-align: center;
  max-width: 360px;
  height: 134px;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 50px;
}
.footer-info__delivery {
  background-image: url(../../images/gruzovik.svg);
}
.footer-info__discount {
  background-image: url(../../images/percent.png);
}
.footer-info__quality {
  background-image: url(../../images/korona.png);
}

.footer-subscription {
  height: 448px;
  background-image: url(../../images/photo_footer.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.footer-subscription__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer-subscription__quote {
  max-width: 360px;
  background-image: url(../../images/photo.png);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 120px;
  text-align: center;
  transition: transform 1s;
}
.footer-subscription__quote:hover {
  transform: rotate(360deg);
}
.footer-subscription__quote p {
  color: #222224;
}
.footer-subscription__subscribe {
  text-align: center;
  max-width: 557px;
}
.footer-subscription__subscribe p {
  font-size: 18px;
}

.email {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
.email__field {
  background-color: #E1E1E1;
  border: none;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}
.email__field::placeholder {
  color: #222224;
  font-size: 14px;
}
.email__field:focus {
  outline: none;
}
.email__button {
  border: none;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 0 10px 10px 0;
  padding: 10px 20px;
}
.email__button:hover {
  cursor: pointer;
}

.footer-copyright {
  height: 79px;
  background-color: #222224;
}
.footer-copyright__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222224;
  height: 100%;
}
.footer-copyright p {
  color: #FBFBFB;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links__item {
  background: #ffffff;
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 8px;
  margin: 7px;
}
.social-links__item:not(:last-child) {
  margin-right: 15px;
}
.social-links__item:hover {
  background: #F16D7F;
}
.social-links__item:hover > i {
  color: #ffffff;
}

.header {
  height: 75px;
  background: #222222;
  display: flex;
  justify-content: space-between;
  padding: 19px 0;
}
.header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left-nav {
  display: flex;
  align-items: center;
}
.header__left-nav a {
  margin-right: 41px;
  text-decoration: none;
}
.header .search-img {
  margin-right: 10px;
}
.header__right-nav a:not(:last-child) {
  margin-right: 33px;
}
.header__right-nav a:last-child {
  position: relative;
}
.header__right-nav a:not(:last-child):hover {
  opacity: 0.7;
}
.header .logo-notlink {
  margin-right: 41px;
}
.header .cart-number {
  position: absolute;
  color: white;
  border-radius: 50%;
  background-color: #F16D7F;
  top: -21px;
  right: -10px;
  width: 19px;
  height: 19px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
}
.header .cart-icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header-content {
  background: #F1E4E6;
  height: 148px;
}
.header-content__promo-text {
  color: #F16D7F;
}
.header-content__wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-promo {
  background: #F1E4E6;
  height: calc(100vh - 75px);
}
.content-promo__wrap {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../../images/men.png);
  background-repeat: no-repeat;
  background-position: -200px 0;
  background-size: contain;
}

.promo-text {
  margin-right: 100px;
  border-left: 12px solid #F16D7F;
  padding-left: 20px;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #222222;
}
.promo-text__brand-name {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}
.promo-text__red-style {
  color: #F16D7F;
}

.header-content__breadcrumb {
  padding: 10px 0 10px 16px;
  list-style: none;
}
.header-content__breadcrumb li {
  display: inline;
  font-size: 14px;
}
.header-content__breadcrumb li a {
  color: #636363;
  text-decoration: none;
}
.header-content__breadcrumb li a:hover {
  opacity: 0.7;
}
.header-content__breadcrumb li + li:before {
  padding: 3px;
  color: #636363;
  content: "/ ";
}
.header-content__breadcrumb :last-child > a {
  color: #F16D7F;
}

.burger {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}
.burger__menu {
  margin-right: 33px;
}
.burger__menu:hover {
  opacity: 0.7;
  cursor: pointer;
}
.burger__nav {
  position: absolute;
  top: 56px;
  right: 0;
  z-index: 10;
  width: 232px;
  background-color: #fff;
  height: calc(100vh - 75px);
  padding: 20px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.burger__input {
  display: none;
}
.burger__input:checked ~ .burger__nav {
  display: block;
}
.burger__input:not(:checked) ~ .burger__nav {
  display: none;
}
.burger__wrap {
  position: relative;
}
.burger__close {
  position: absolute;
  right: -5px;
  top: -24px;
}
.burger__close svg:hover {
  fill: #F16D7F;
  cursor: pointer;
}
.burger__title {
  color: #000000;
  font-size: 14px;
  margin: 17px 0 4px 14px;
}
.burger__heading {
  color: #F16D7F;
  font-size: 14px;
  margin: 20px 0 0 14px;
}
.burger__link {
  color: #6F6E6E;
  font-size: 14px;
  list-style-type: none;
  text-decoration: none;
}
.burger__link:hover {
  opacity: 0.7;
}
.burger__item {
  list-style: none;
  margin: 12px 0 0 34.5px;
}

.cart__window {
  position: absolute;
  top: 30px;
  right: 5px;
  z-index: 5;
  width: 470px;
  min-height: 40px;
  background-color: white;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  padding: 10px;
  border-radius: 5px;
}

.productCart__item {
  width: 450px;
  height: 150px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 10px;
}

.cart-link {
  text-decoration: none;
  font-weight: bold;
}

.productCart__item:not(:last-child) {
  margin-bottom: 10px;
}

.productCart__item img {
  max-width: 100%;
  max-height: 100%;
}

.productCart__item svg {
  position: absolute;
  right: 22px;
  top: 28px;
}

.productCart__item svg:hover {
  fill: #F16D7F;
  cursor: pointer;
}

.productCart__item-text {
  padding-left: 31px;
  padding-top: 22px;
  width: 200px;
}

.productCart__item-text h3 {
  margin-bottom: 12px;
}

.productCart__item-text p {
  font-size: 16px;
  color: #575757;
}

.productCart__item-text strong {
  color: crimson;
}

.search-field {
  color: white;
  width: 200px;
  padding: 5px;
  background-color: transparent;
  border-radius: 11px 11px 11px 11px;
  border: 2px solid grey;
}

.search-field:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header__wrap {
    padding: 0 16px;
  }

  .content-promo {
    height: 368px;
  }

  .content-promo__wrap {
    background-size: contain;
    background-position: -20px;
  }

  .promo-text {
    font-size: 24px;
    line-height: 29px;
    margin-right: 0px;
  }
  .promo-text__brand-name {
    font-size: 44px;
    line-height: 53px;
  }

  .cards-catalog {
    margin-top: 20px;
    margin-bottom: 155px;
  }
  .cards-catalog__item {
    height: 167px;
    background-size: cover;
  }
  .cards-catalog__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .cards-catalog:last-child {
    height: 116px;
  }

  .footer-info {
    padding: 0;
  }
  .footer-info__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 610px;
    justify-content: space-evenly;
  }

  .footer-subscription {
    height: 614px;
  }
  .footer-subscription__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 140px;
  }

  .product-about {
    position: static;
    margin-top: 0;
    width: 100%;
  }
  .product-about__info {
    padding: 64px 106px;
  }

  .regform {
    padding: 64px 16px 96px;
    background-color: #E5E5E5;
  }
  .regform__text {
    margin-left: 22px;
  }

  .filtercheck-wrap {
    width: 100%;
  }
}
@media screen and (max-width: 1040px) {
  .cartbox {
    display: flex;
    flex-direction: column;
    margin-top: 59px;
  }
  .cartbox__btn {
    justify-content: space-evenly;
  }
  .cartbox__left-wrap {
    margin-bottom: 64px;
  }
  .cartbox__right-wrap {
    flex-direction: row;
    max-width: 100%;
  }

  .cartbox-products__item {
    width: 100%;
  }

  .cartbox-adress {
    width: 49%;
    margin: 0 15px 0 0;
  }

  .cartbox-total {
    margin-top: 54px;
    width: 49%;
  }
}
@media screen and (max-width: 1100px) {
  .cards-product {
    justify-content: center;
  }
  .cards-product__item {
    margin-bottom: 16px;
  }
  .cards-product__item:nth-child(odd) {
    margin-right: 15px;
  }
}
@media screen and (max-width: 700px) {
  .regform {
    flex-direction: column;
    background-color: #fff;
  }
  .regform__leftwrap {
    width: 100%;
  }

  .reginput__submit {
    margin-bottom: 40px;
  }
  .reginput__first-name, .reginput__last-name, .reginput__email, .reginput__passwd {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .header__right-nav a:nth-child(2) {
    display: none;
  }
  .header__right-nav a:nth-child(3) {
    display: none;
  }
  .header__right-nav a:not(:last-child) {
    margin: 0;
  }

  .content-promo {
    height: 363px;
  }
  .content-promo__wrap {
    background-image: none;
    justify-content: center;
  }

  .cards-catalog {
    margin: 64px 0;
  }
  .cards-catalog__item {
    width: 100%;
  }
  .cards-catalog__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .cards-product {
    margin-top: 65px;
  }
  .cards-product__item:nth-child(odd) {
    margin-right: 0px;
  }

  .footer-copyright {
    height: 143px;
  }
  .footer-copyright__wrap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .footer-copyright__wrap p {
    margin: 40px 0 9px 0;
  }

  .header-content {
    margin-bottom: 24px;
  }
  .header-content__wrap {
    flex-direction: column;
    justify-content: space-around;
  }

  .product-about__addition {
    padding: 0;
  }
  .product-about__addition-wrap {
    padding: 64px;
  }

  .product-about__info {
    padding: 64.5px 24px;
  }

  .cartbox-products__item {
    height: 180px;
  }
  .cartbox-products__item img {
    height: auto;
  }
  .cartbox-products__item svg {
    width: 10px;
    right: 15px;
    top: 15px;
  }
  .cartbox-products__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .cartbox-products__item-text {
    padding: 15px 30px 0 15px;
  }
  .cartbox-products__item-text h3 {
    font-size: 16px;
  }
  .cartbox-products__item-text p {
    font-size: 14px;
  }
  .cartbox-products__item-text span {
    font-size: 14px;
  }

  .cartbox {
    margin-top: 39px;
    margin-bottom: 0;
  }
  .cartbox__btn {
    margin-top: 30px;
  }
  .cartbox__left-wrap {
    margin-bottom: 48px;
  }
  .cartbox__right-wrap {
    flex-direction: column;
  }

  .cartbox-adress {
    width: 100%;
    padding: 0;
  }

  .cartbox-total {
    margin: 48px 0 96px;
    width: 100%;
  }

  .filter summary span {
    display: none;
  }

  .burger__menu {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
