@import "./module/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.cards-catalog {
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
    margin-bottom: 96px;
    justify-content: space-between;

    &__item {
        width: 31.5%;
        height: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &:last-child {
            height: 160px;
            width: 100%;
        }
        & h1 {
            color: $maincolor;
            font-weight: bold;
        }
        & h3 {
            color: white;
        }
        & a {
            text-decoration: none;
        }
        & a:hover {
            opacity: 0.7;
        }
    }
    &__for-women {
        background-image: url(../images/cat-small.png), url(../images/for_women.png);
        background-repeat: repeat, no-repeat;
        background-size: auto;
    }
    &__for-men {
        background-image: url(../images/cat-small.png), url(../images/for_men.png);
        background-repeat: repeat, no-repeat;
        background-size: auto;
    }
    &__for-kids {
        background-image: url(../images/cat-small.png), url(../images/for_kids.png);
        background-repeat: repeat, no-repeat;
        background-size: auto;
    }
    &__accesories {
        background-image: url(../images/cat-big.png), url(../images/accesories.png);
        background-repeat: repeat, no-repeat;
        background-size: auto;
    }
}

.fetured-items {
    width: auto;

    & h1 {
        text-align: center;
    }
    & p {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
}

.cards-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 48px 0 18px;

    & a {
        text-decoration: none;
        color: #000000;

        &:hover {
            opacity: 0.7;
        }
    }
    &_margin128 {
        margin: 128px 0px;
    }
    &__item {
        width: 360px;
        background-color: #F8F8F8;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        transition: .5s;
    }
    &__photo {
        width: 360px;
        height: 420px;
    }
    &__item:hover {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    }
    &__item-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px;

        & strong {
            color: $maincolor;
            font-weight: bold;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 420px;
        background-color: rgba(58, 56, 56, 0.83);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.5s;
    }
    &__overlay:hover {
        opacity: 1;
    }
    &__overlay-btn {
        font-size: 14px;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        padding: 10px 20px;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        & img {
            width: 26px;
            height: 24px;
            margin-right: 10px;
        }
    }
}

.link_allProducts {
    display: block;
    max-width: 212px;
    margin:0 auto 96px;
    text-decoration: none;
    font-size: 16px;
    color: $maincolor;
    border: 1px solid $maincolor;
    padding: 15px 39px;

    &:hover {
        background: $maincolor;
        color: #FFFFFF;
    }
}

.product-slider {
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
        height: 47px;
        width: 47px;
        background: #C4C4C4;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: #B1B1B1;
        }
        &:active {
            background: #6F6E6E;
        }
        &:hover > svg {
            fill: $maincolor;
        }
    }
    & img {
        max-width: 100%;
    }
}

.product-about {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFFFFF;
    margin-top: -65px;
    border: 1px solid #EAEAEA;

    &__info { 
        text-align: center;
        padding: 64px 292px;

        & h4 {
            color: $maincolor;
            font-size: 14px;
            margin-bottom: 12px;
        }
        & svg {
            margin-bottom: 12px;
        }
        & h2 {
            color:#4D4D4D;
            font-size: 18px;
            margin-bottom: 48px;
        }
        & p {
            font-size: 14px;
            color: #5E5E5E;
            margin-bottom: 32px;
        
        }
        & strong {
            font-size: 24px;
            color: $maincolor;
        }
    }
    &__addition {
        padding: 0 250px;
    }
    &__addition-wrap {
        display: flex;
        padding: 64px 0;
        flex-direction: column;
        border-top: 1px solid rgba(234, 234, 234, 1);
        align-items: center;
    }
    &__filter {
        display: flex;
        justify-content: center;

        & a {
            text-decoration: none;
            color: rgba(111, 110, 110, 1);

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
    &__addToCart {
        border: 1px solid $maincolor;
        padding:15px 24px; 
        display: flex;
        align-items: center;
        margin-top: 48px;
        color: $maincolor;
        background-color: #fff;

        & svg {
            margin-right: 23px;
        }
        &:hover {
            cursor: pointer;
            background-color: $maincolor;
            color: #fff;
            
        }
        &:hover > svg {
            fill: #fff;
        }
    }
}

.cartbox {
    margin-top: 96px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;

    &__btn {
        display: flex;
        justify-content: space-between;
        margin-top: 72px;
        border: none;

        & button {
            height: 50px;
            width: 235px;
            background-color: #FFFFFF;
            border: 1px solid #A4A4A4;
            cursor: pointer;

            &:hover {
                background: $maincolor;
                color: #FFFFFF;
            }
        }
    }
    &__right-wrap {
        display: flex;
        flex-direction: column;
        max-width: 360px;
    }
}

.cartbox-products {
    display: flex;
    flex-direction: column;

    &__left-wrap {
        display: flex;
        flex-direction: column;
        max-width: 652px;
    }
    &__item {
        width: 650px;
        height: 306px;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
        display: flex;
        flex-direction: row;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
        & img {
            max-width: 100%;
            max-height: 100%;
        }
        & svg {
            position: absolute;
            right: 22px;
            top: 28px;

            &:hover {
                fill: $maincolor;
                cursor: pointer;
            }
        }
    }
    &__item-text {
        padding-left: 31px;
        padding-top: 22px;
        width: 200px;

        & h3 {
            margin-bottom: 42px;
        }
        & p {
            font-size: 22px;
            color: #575757;   
        }
        & strong {
            color: $maincolor;
        }
        & span {
            color: #6F6E6E;
        }
    }
    &__quantity {
        width: 44px;
        height: 25px;
        border: 1px solid #EAEAEA;
        text-align: center;
    }
}

.cartbox-adress {
    margin-bottom: 40px;
    padding: 17px 0;
    display: flex;
    flex-direction: column;

    & p {
        margin-bottom: 20px;
    }
    & input:not(:last-child) {
        height: 45px;
        margin-bottom: 20px;
        font-size: 13px;
        border: 1px solid #A4A4A4;
        padding: 13px;

        &::placeholder {
            opacity: 0.5;
        }
    }
    & input:last-child {
        height: 35px;
        width: 101.4px;
        font-size: 11px;
        border: 1px solid #A4A4A4;
        background-color: #FFFFFF;
        color: #4A4A4A;

        &:hover {
            cursor: pointer;
            background: $maincolor;
            color: #FFFFFF;
        }
    }
}

.cartbox-total {
    width: 360px;
    height: 214px;
    background-color: #F5F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__text-subtotal {
        font-size: 13px;
        margin-right: 34px;
        margin-bottom:12px
    }
    &__text-grandtotal {
        font-size: 16px;
        margin-right: 37px;
    }
    &__text-redstyle {
        color: $maincolor;
    }
    &__btn {
        & hr {
            margin: 21px 0;
            padding: 0;
            height: 0;
            border: none;
            border-top: 1px solid #E2E2E2;
            }
        & button {
            color: #FFFFFF;
            background-color: $maincolor;
            padding: 15px 40px;
            border: none;
            transition: .3s; 

            &:hover {
                cursor: pointer;
                transform: scale(1.1, 1.1)
            }
        } 
    }
}

.regform {
    display: flex;
    padding: 64px 2px 0;

    &__leftwrap {
        width: 360px;
        display: flex;
        flex-direction: column;

        & h3 {
            font-weight: normal;
        }
        & p {
            font-size: 13px;
            color: #B1B1B1;
            margin-top: 15px;
        }
    }
    &__user-data {
        width: 100%;

        & span {
            display: flex;
            align-items: center;
            margin-right: 30px;
        }
    }
    &__user-email {
        width: 100%;
    }
    &__text {
        margin-left: 128px;

        & h2 {
            font-weight: normal;
        }
        & p {
            font-size: 24px;
            font-weight: normal;
        }
        & ul {
            font-size: 24px;
            line-height: 45px;
            font-weight: normal;
            list-style-type: none;

            & li:before {
                content: "✔ ";
            }
        }
    }
    &__radio {
        display: flex;
    }
}

.reginput {

    &__first-name, &__last-name, &__email, &__passwd {
        width: 360px;
        height: 45px;
        margin-top: 20px;
        border: 1px solid #A4A4A4;
        padding: 13px;
        transition: .3s;

        &:hover {
            border-radius: 10px;
            margin-left: 10px;

        }

        &::placeholder {
            opacity: 0.5;
        }
    }
    &__male, &__female {
        margin: 30px 10px 30px 0;
        width: 17px;
        height: 17px;

    }
    &__submit {
        margin: 39px 0 96px;
        color: #F7F7F7;
        background-color: $maincolor;
        padding: 16px 29px;
        font-size: 14px;
        border: none;
        transition: .3s; 
    }
    &__submit:hover {
        transform: scale(1.1, 1.1);
        cursor: pointer;
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    border: 1px solid #EBEBEB;
    width: 244px;
    height: 44px;
    padding: 12px 16px;
    margin:0 auto 96px;

    & a {
        color: #EBEBEB;
        text-decoration: none;

        &:hover {
            color: $maincolor;
        }
    }
    & a:first-child {
        color: #000000;

        &:hover {
            color: $maincolor;
        }
    }
    & a:last-child {
        color: #000000;

        &:hover {
            color: $maincolor;
        }
    }
}

.filter-wrap {
    width: 100%;
    margin: 51px 0 64px;
    display: flex;
    position: relative;
}
.filter {
    width: 360px;
    background-color: #FFFFFF;
    position: absolute;
    top:-16px;
    z-index: 2;
    padding: 16px 0 0 16px;

    &-content :first-child {
        margin-top: 18px;
    }    
    &:hover {
        cursor: default;
    }
    & ::-webkit-details-marker {display: none;}
    &[open] {
        padding-left: 16px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &[open] > summary {
        color: $maincolor;
        outline: none;
        border: none;
    }
    & summary {
        list-style: none;
        font-weight: bold;
        color: #6F6E6E;

        &:hover {
            color: $maincolor;
            cursor: pointer;
        }
    }
    &-title > summary {
        list-style: none;
        padding: 11px;
        margin-bottom: 18px;
        border-left: 5px solid $maincolor;
        border-bottom: 1px solid #EBEBEB;
        color: #6F6E6E;
    
        &:hover {
            color: $maincolor;
            cursor: pointer;
        }
    }
    &-title[open] > summary {
        color: $maincolor;
    }
    &-item {
        list-style-type: none;
    }
    &-link {
        text-decoration: none;
        font-size: 14px;
        color: #6F6E6E;
    
        &:hover {
            opacity: 0.7;
        }
    }
    &-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 18px 16px;
    } 
}
.filtercheck-wrap {
    width: 700px;
    justify-content: flex-end;
    display: flex;
}
.filtercheck {
    box-sizing: border-box;
    position: relative;
    outline: none;
    border: none;
    z-index: 2;
    padding: 0 10px;

    &:hover .filtercheck-content {
        display: flex;
    }

    &:first-child {
        margin-left: 375px;
    }
    &-content {
        position: absolute;
        padding:7px 11px 11px 0;
        background-color: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        display: none;
        color: #6F6E6E;
        white-space: nowrap;
    }
    &-title {
        color: #6F6E6E;
        white-space: nowrap;
    
        &:hover {
            cursor: pointer;
        }
    }
    &-item {
        list-style-type: none;
    }
    &-checkbox {
        opacity: 0.8;
        margin: 0 9px 0 9px;
    }
    & i {
        margin-left: 10px;
    }
}

.error-msg {
    padding: 30px 20px;
    background-color: red;
    color: white;
    position: relative;
}
.error-block {
    background-color: rgba(0,0,0, .5);
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}
.close-btn {
    font-size: 1.5em;
    top: -40px;
    position: absolute;
    right: 0;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
}



@import "./module/footer";
@import "./module/header";
@import "./module/media";
























